
.ractive-stepper
    display inline-block

    *
        vertical-align middle

    input
        padding 0.3em
        text-align right
        color inherit
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
            -webkit-appearance none
            margin 0

        -moz-appearance textfield

    .steppers
        display inline-block

    .inc, .dec
        border 0.25em solid transparent
        cursor pointer

    .inc
        border-bottom-color currentColor
        margin-bottom 75%
    .dec
        border-top-color currentColor

